<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776268294867-6aphqehbjk17jucdr5k4s3ee190eo360.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776268294867-6aphqehbjk17jucdr5k4s3ee190eo360</string>
	<key>API_KEY</key>
	<string>AIzaSyCVkk5Pw841QiJa_ZmzgAyc_YE_W9HC1uk</string>
	<key>GCM_SENDER_ID</key>
	<string>776268294867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rocket-help-ig3</string>
	<key>STORAGE_BUCKET</key>
	<string>rocket-help-ig3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776268294867:ios:6f3e6638b8e880e9b18226</string>
</dict>
</plist>